.loader-container {
    text-align: center;
}

.loader-container .loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid darkblue;
    animation: waves 1000ms ease-in-out infinite;
}

@keyframes waves {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}